<section class="author">
  <div class="container">
    <div class="author__inner">
      <div class="author__inner-info">
          <img src="images/arrow.png" alt="arrow">
          <p class="author__inner-suptitle">Meet your host</p>
          <h1 class="author__inner-title">Jacob Paulaner</h1>
          <p class="author__inner-text">Jacob has a background in audio engineering, and has been podcasting since the early days.</p>
          <p class="author__inner-text">He’s here to help you level up your game by sharing everything he’s learned along the way.</p>
      </div>
      <div class="author__inner-foto">
        <img src="images/author.jpeg" alt="author">
      </div>
    </div>
  </div>
</section>