<section class="cards">
  <div class="container">
    <div class="cards__inner">
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          I can’t recommend this podcast enough
        </h3>
        <p class="cards__author">
          Betty Lacey
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          Jacob is the best in the business
        </h3>
        <p class="cards__author">
          Adam Driver
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          A wealth of audio knowledge
        </h3>
        <p class="cards__author">
          Marcus Brown
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          Every episode is a gem!
        </h3>
        <p class="cards__author">
          Jessica Knowl
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          Whoa whoa, let me take some notes!
        </h3>
        <p class="cards__author">
          Scott Adams
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__stars">
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
          <img class="cards__star" src="images/star.svg" alt="star" >
        </div>
        <h3 class="cards__title">
          I’ve upped my game considerably since I started listening
        </h3>
        <p class="cards__author">
          Steven Blast
        </p>
      </div>
    </div>
  </div>
</section>