<section class="episodes">
  <div class="container">
    <div class="episodes__inner">
      <div class="episodes__inner-title">
        <h1 class="episodes__inner-text">Latest episodes</h1>
        <button class="episodes__inner-button">
          <a href="#" class="episodes__inner-button--link">View all episodes</a>
        </button>
      </div>
      <div class="episodes__inner-news">
        <div class="episodes__inner-news--card">
          <img class="episodes__inner-foto" src="images/episode/1.jpeg" alt="foto" >
          <div class="episodes__inner-card">
            <div class="episodes__inner-subtitle">Gear</div>
            <p class="episodes__inner-number">Episode 3</p>
            <h1 class="episodes__inner-text--title">Should you get outboard audio gear?</h1>
            <p class="episodes__inner-text--text">Is hardware really worth it when it comes to podcasting? The answer is...it depends. Here’s our reasons on why you might want to consider picking something up.</p>
            <button class="episodes__inner-button">
              <a href="" class="episodes__inner-button--link">
                View Episode Details
              </a>
            </button>
          </div>
        </div>
        <div class="episodes__inner-news--card">
          <img class="episodes__inner-foto" src="images/episode/2.jpeg" alt="foto" >
          <div class="episodes__inner-card">
            <div class="episodes__inner-subtitle">Tips & Tricks</div>
            <p class="episodes__inner-number">Episode 2</p>
            <h1 class="episodes__inner-text--title">Mic tricks to take you to the next level</h1>
            <p class="episodes__inner-text--text">Stop rolling with those default settings on your mic. These small tweaks will take you from sounding good to great.</p>
            <button class="episodes__inner-button">
              <a href="" class="episodes__inner-button--link">
                View Episode Details
              </a>
            </button>
          </div>
        </div>
        <div class="episodes__inner-news--card">
          <img class="episodes__inner-foto" src="images/episode/3.jpeg" alt="foto" >
          <div class="episodes__inner-card">
            <div class="episodes__inner-subtitle">Gear</div>
            <p class="episodes__inner-number">Episode 1</p>
            <h1 class="episodes__inner-text--title">The best microphone under $200</h1>
            <p class="episodes__inner-text--text">With so many microphones on the market, how are you supposed to know what’s the best? Take a look at our top picks.</p>
            <button class="episodes__inner-button">
              <a href="" class="episodes__inner-button--link">
                View Episode Details
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>