<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__inner-social">
        <a href="#" class="footer__inner-logo">
          <img src="images/logo.svg" alt="" class="logo">
        </a>
        <ul class="footer__inner-list">
          <li class="footer__inner-item">
            <a href="#" class="footer__inner-link">
              <img class="footer__inner-img" src="images/footer/instagram.svg" alt="instagram" >
            </a>
          </li>
          <li class="footer__inner-item">
            <a href="#" class="footer__inner-link">
              <img class="footer__inner-img" src="images/footer/twitter.svg" alt="twitter" >
            </a>
          </li>
          <li class="footer__inner-item">
            <a href="#" class="footer__inner-link">
              <img class="footer__inner-img" src="images/footer/facebook.svg" alt="facebook" >
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__inner-menu">
        <ul class="header-container__menu footer-menu">
          <li class="header-container__list">
            <a href="#" class="header-container__link">Home</a>
          </li>
          <li class="header-container__list">
            <a href="#" class="header-container__link">Episodes</a>
          </li>
          <li class="header-container__list">
            <a href="#" class="header-container__link">About</a>
          </li>
          <li class="header-container__list">
            <a href="#" class="header-container__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__inner-info">
        <ul class="footer__inner-links">
          <li><a class="footer__inner-affiliate" href="#">Style Guide</a></li>
          <li><a class="footer__inner-affiliate" href="#">Instructions</a></li>
          <li><a class="footer__inner-affiliate" href="#">Changelog</a></li>
          <li><a class="footer__inner-affiliate" href="#">Credit</a></li>
          <li><a class="footer__inner-affiliate" href="#">Powered by Webflow</a></li>
          <li><a class="footer__inner-affiliate" href="#">Licenses</a></li>
        </ul>
      </div>
      <div class="footer__inner-socials">
        <ul class="first__info-list footer-socials">
          <li class="first__info-item">
            <a class="first__info-link" href="#" ><img src="images/social/1.svg" alt=""></a>
          </li>
          <li class="first__info-item">
            <a class="first__info-link" href="#" ><img src="images/social/2.svg" alt=""></a>
          </li>
          <li class="first__info-item">
            <a class="first__info-link" href="#" ><img src="images/social/3.svg" alt=""></a>
          </li>
          <li class="first__info-item">
            <a class="first__info-link" href="#" ><img src="images/social/4.svg" alt=""></a>
          </li>
          <li class="first__info-item">
            <a class="first__info-link" href="#" ><img src="images/social/5.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>