<section class="form">
  <div class="container">
    <div class="form__inner">
      <div class="form__inner-text">
        <p class="form__inner-suptitle">Email Newsletter</p>
        <h1 class="form__inner-title">Subscribe for updates</h1>
      </div>
      <div class="form__inner-data">
        <input class="form__inner-form" type="text" placeholder="Name">
        <input class="form__inner-form" type="text" placeholder="Email">
        <button class="form__inner-btn">Submit</button>
      </div>
    </div>
  </div>
</section>