<header class="header">
  <div class="header-container container">
    <a href="#" class="logo">
      <img src="images/logo.svg" alt="foto">
    </a>
    <ul class="header-container__menu menu">
      <li class="header-container__list">
        <a href="#" class="header-container__link">Home</a>
      </li>
      <li class="header-container__list">
        <a href="#" class="header-container__link">Episodes</a>
      </li>
      <li class="header-container__list">
        <a href="#" class="header-container__link">About</a>
      </li>
      <li class="header-container__list">
        <a href="#" class="header-container__link">Contact</a>
      </li>
    </ul>
  </div>
</header>